img {
	height: 100px;
	width: 140px;
}

textarea {
	margin: 0px;
	height: 101px;
	width: 201px;
	resize: none;
}

.popupInfo {
	width: 345px;
}

div.gm-style-iw {
	width: 345px;
}

#googleMap {
    margin: 15px 0px 0px 15px;
    max-height: 620px;
    max-width: 1320px;
}