@model dynamic
@{
    Layout = null;
}
<div class="popupInfo @(Model == null ? "empty")">
    <div class="innerPopup">
        <input type=hidden value=@(Model != null ? Model.Id) />
        <img src="@(Model != null ? Model.ImageUrl : string.Empty)" alt="no image" />
        <textarea rows="4" cols="30" placeholder="Write some text...">@(Model != null ? Model.Text : string.Empty)</textarea>
        <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-primary edit">
                Edit</button>
            <button type="button" class="btn btn-danger">
                Delete</button>
        </div>
    </div>
</div>
