@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/themes/core/site.css" rel="stylesheet">
    <link href="~/Content/themes/core/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/Content/themes/core/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/themes/core/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
    <div id="googleMap" style="width: 1300px; height: 600px;">
    </div>    
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDri_CEdbWJuw3Uieks9aiDPEhsSD9_cxg&sensor=false"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/core.js" type="text/javascript"></script>
</body>
</html>
